@media screen and (max-width: 768px) {
    .page-title {
        font-size: 40px;
        padding: 30px;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    .text-box {
        padding: 10px;
        height: auto;
    }

    .grid-container {
        grid-template-columns: 1fr; /* Single column on small screens */
    }

    .grid-item {
        margin: 10px 0;
    }

    .image, .text-box {
        width: 100%;
        margin: 10px 0;
    }
}

body {
    margin: 0;
    font-family: system-ui;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page-title {
    background: rgba(0, 0, 0, 0.5);
    background-image: url(images/1.jpeg.jpeg);
    text-align: center;
    color: rgb(252, 245, 245);
    padding: 50px;
    font-variant: small-caps;
    font-size: 60px;
    font-family: fantasy;
    letter-spacing: 10px;
    position: relative; 
    z-index: 1;
}

header:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

header {
    padding-top: 20px;
    position: relative;
    z-index: 1000;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(240, 234, 234);
    font-size: 18px;
}
.intro {
    padding: 20px;
}
h2{
    text-align: center;
}

.products {
    padding: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #bda9a9; /* Choose your desired background color */
    padding: 20px;
}

.product {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 100%; /* Set width to 100% */
    height: 200px; /* Set a fixed height for consistency */
    object-fit: cover; /* Maintain aspect ratio while covering the area */
    border-radius: 8px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

footer a:hover {
    background-color: #45a049;
}